{% extends "base.html" %}

{% block title %}All Quotes | Quotebook{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
      {% for quote in quotes %}
    <div class="box">
      <p class="is-size-5 has-text-centered is-italic">
          <a href="{{ url_for('core.view_quote', id=quote.id) }}" class="has-text-dark">
        &ldquo;{{ quote.quote }}&rdquo;
          </a>
      </p>
      <p class="has-text-right has-text-grey">
        ~<span class="has-text-primary">{{ quote.quotee }}</span>, {{
        quote.created.year }}
      </p>
    </div>
      {% endfor %}
  </div>
</section>
{% endblock %}